.taskComplete{
  background-color: lightgreen;
}

.taskUncomplete{
  background-color: lightgray;
}
h1{
  text-align: center;
}
.input{
  text-align: center;
}

.well{
  width: 50%;
  margin: auto;
  text-align: center;
}
.btn{
      display: -webkit-inline-box;
      width: 100%;
}
