.taskComplete{
  background-color: lightgreen;
}

.taskUncomplete{
  background-color: lightgray;
}
h1{
  text-align: center;
}
.input{
  text-align: center;
}

.well{
  width: 75%;
  margin: auto;
  text-align: center;
}
.btn{
      display: -webkit-inline-box;
      width: 100%;
}
.container-fluid{
width: 100%;
}
table {
    display: table;
    border-collapse: separate;
    -webkit-border-horizontal-spacing: 25px;
    -webkit-border-vertical-spacing: 25px;
  }
td{
  padding: 15px !important;
}
